.right {
}

.left {
}

.nav {
}

body {
    text-align:center;
    cursor: url(images/cr7cursor.png), auto;
}

.container {
    text-align:center;
    background-image: url(images/cr7background.png);
}